@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <h3>Olá 🖖🏽! Seja bem-vindo(a)</h3>
</div>
<div class="row">    
        <p class="texto-home">
        O ASP.NET MVC é um framework para desenvolvimento de aplicações web no qual somos capazes de utilizar a linguagem de
        programação C#. A partir de seu uso é possível criar desde pequenos sites estáticos até grandes portais de e-commerce e
        outros projetos complexos.
        <br>      
        Este projeto visa a criação de uma aplicação que receberá dados inseridos por um usuário diretamente no navegador 
        por meio de digitação em campos de um formulário, permitindo a inclusão, alteração, listagem e exclusão desses dados em um banco de dados SQL Server.</p>           
</div>
