@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <h2>Olá 🖖🏽! Seja bem-vindo(a)</h2>
    </div>
    <div class="row">
        <p class="texto-home">
            Este projeto visa a criação de uma aplicação que receberá dados inseridos por um cliente
            no navegador por meio de digitação em campos de um formulário, permitindo a inclusão, alteração, listagem e
            exclusão desses dados em um banco de dados SQL Server.<br>                  
            O projeto foi desenvolvido utilizando ASP.Net e a linguagem C# com o padrão MVC(Model-View-Controller).</p>
    </div>
</div>
